.container__slider__calendar {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}
.container__student__schedule
{
    display: flex;
    padding: 50px 180px;
    justify-content: center;
    align-content: flex-start;
    gap: 310px;
    align-self: stretch;
    flex-wrap: wrap-reverse;
}
@media (max-width: 1416px)
{
    .container__student__schedule
    {
        gap:150px;
    }
}
@media (max-width: 1256px) {
    .container__student__schedule
    {
        gap:50px;
    }
}
@media (max-width: 674px)
{
    .swiper-container {
        width: 90%;
    }
    .calendar
    {
        width: 450px;
    }
}
@media(max-width: 450px)
{
    .calendar
    {
        width: 350px;
    }
}
@media(max-width: 360px)
{
    .calendar
    {
        width: 300px;
    }
}